<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>47966344518-fgr9q1mdcarl20t7lfo7ipvimn4j4bdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47966344518-fgr9q1mdcarl20t7lfo7ipvimn4j4bdl</string>
	<key>API_KEY</key>
	<string>AIzaSyAPQJ7fNTWEAtEVkN2eu8Yzggt56m2N67s</string>
	<key>GCM_SENDER_ID</key>
	<string>47966344518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leprechaunskydiving.Admob-Demo</string>
	<key>PROJECT_ID</key>
	<string>admob-demo-b45aa</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-demo-b45aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:47966344518:ios:bfb65ff0564b1c7b</string>
	<key>DATABASE_URL</key>
	<string>https://admob-demo-b45aa.firebaseio.com</string>
</dict>
</plist>